VITE_API_ENDPOINT="Your Appwrite API endpoint"
VITE_PROJECT_ID="Your Appwrite Project Id"
VITE_DATABASE_ID="Your Appwrite Database Id"
VITE_USER_COLLECTIONS_ID="Your User collection table Id"
VITE_SPACES_COLLECTIONS_ID="Your spaces collection table Id"
VITE_ITEMS_COLLECTIONS_ID="Your Items table Id"
VITE_ADMIN_ID="Your appwrite Admin user Id"
VITE_BUCKET_ID="Your appwrite bucket Id"